# `Q1. List any five functions of the pandas library with execution.`

In [7]:
import pandas as pd

`read_csv():---The first function to mention is read_csv or read_excel. This is one of the most crucial pandas methods in Python. read_csv() function helps read a comma-separated values (csv) file into a Pandas DataFrame`

In [8]:
df = pd.read_csv('tips.csv')

__df.head():---This function after read_csv to see the data frame. By default, it shows the first 5 rows of the DataFrame.__

In [10]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

`The df.info() function in pandas provides a concise summary of a DataFrame, including the column names, non-null counts, data types, and memory usage. It's a quick way to get an overview of the structure and basic information about the DataFrame. Here's how you can use it:`

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

`The df.describe() function in pandas generates summary statistics of the numeric columns in a DataFrame. It provides information such as the mean, standard deviation, minimum, maximum, quartiles, and count for each numeric column. Here's an example of how to use it:`

In [12]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

`The df.isnull().sum() expression is used to count the number of missing (null) values in each column of a DataFrame.`

In [13]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

# and there are many terms in Pandas... .

# `Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.`

In [33]:
import pandas as pd


# Example DataFrame
data = {'A': [10, 20, 30],
        'B': [40, 50, 60],
        'C': [70, 80, 90]}

df = pd.DataFrame(data)

In [34]:
df1 = df.reindex([1,3,5])

In [35]:
df1

      A     B     C
1  20.0  50.0  80.0
3   NaN   NaN   NaN
5   NaN   NaN   NaN

In [59]:
import pandas as pd

# Example DataFrame
data = {'A': [10, 20, 30, 40],
        'B': [100, 200, 300, 400],
        'C': [1000, 2000, 3000, 4000]}

df = pd.DataFrame(data)

# Re-index the DataFrame
new_index = range(1, len(df) * 2, 2)
df.index = new_index

print(df)

    A    B     C
1  10  100  1000
3  20  200  2000
5  30  300  3000
7  40  400  4000

# `Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.` For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.`

In [54]:
import pandas as pd

def calculate_sum_of_first_three(df):
    values_column = df['Values']  # Assuming 'Values' is the column name
    sum_first_three = values_column.head(3).sum()
    print("Sum of the first three values:", sum_first_three)

# Example DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

calculate_sum_of_first_three(df)

Sum of the first three values: 60

# `Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.`

In [100]:
def add_word_count_column(df):
    # Split the 'Text' column by spaces and calculate the length of the resulting list
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

# Example DataFrame
data = {'Text': ['Data Science','Web Development','Machine Learning Engineer','Data Analysis']}
df = pd.DataFrame(data)

# Call the function to add the 'Word_Count' column
df_with_word_count = add_word_count_column(df)

print(df_with_word_count)

                        Text  Word_Count
0               Data Science           2
1            Web Development           2
2  Machine Learning Engineer           3
3              Data Analysis           2

# `Q5. How are DataFrame.size() and DataFrame.shape() different?`

In [111]:
df=pd.read_csv('tips.csv')

In [113]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [126]:
df.size

1708

`DataFrame.size returns the total number of elements in the DataFrame, which is the product of the number of rows and the number of columns. It provides the total count of data points, including all the cells in the DataFrame.`

In [114]:
df.shape

(244, 7)

# `DataFrame.shape returns a tuple representing the dimensions of the DataFrame. It consists of two elements: the number of rows and the number of columns in the DataFrame.`

# `Q6. Which function of pandas do we use to read an excel file?`

In [129]:
df1 = pd.read_excel("LUSID Excel - Setting up your market data.xlsx")

`To read an Excel file in Pandas, you can use the pandas.read_excel() function. This function allows you to read data from an Excel file and create a DataFrame. Here's how you can use it: and use data.xlsx`

## `Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.`

In [177]:
# Create a DataFrame
data = {'Email':['sam@gmail.com','hazel@gmail.com','john@gmail.com','priyank.k@gmail.com',
        'alexa.google@gmail.com','siri.apple@gmail.com']}

df =pd.DataFrame(data)

# Create a new 'Username' column by extracting the username part from the 'Email' column
df['Username'] = df['Email'].str.split('@').str[0]

print(df)

                    Email      Username
0           sam@gmail.com           sam
1         hazel@gmail.com         hazel
2          john@gmail.com          john
3     priyank.k@gmail.com     priyank.k
4  alexa.google@gmail.com  alexa.google
5    siri.apple@gmail.com    siri.apple

`Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:`

In [182]:
def dataframe(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example DataFrame
data = {'A': [13, 8, 4, 6, 12],
        'B': [9, 5, 8, 11, 3],
        'C': [20, 15, 30, 25, 10]}

df = pd.DataFrame(data)

# Call the function to filter the DataFrame
 
new_df = dataframe(df)

print(new_df)

    A  B   C
0  13  9  20
1   8  5  15
4  12  3  10

# `Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.`

In [202]:
def calculate_statistics(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_deviation = df['Values'].std()
    return mean_value, median_value, std_deviation

# Example DataFrame
data = {'Values':[2,4,5,7,4,47,6,7,8,5,7,53,55,77,78,11,25,33,62,10,21,45,13,23,26]}
df = pd.DataFrame(data)

# Call the function to calculate statistics
mean_val, median_val, std_dev = calculate_statistics(df)

print("Mean:", mean_val)
print("Median:", median_val)
print("Standard Deviation:", std_dev)

Mean: 25.36
Median: 13.0
Standard Deviation: 24.091630635278026

## `Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.`

In [203]:
def calculate_moving_average(df):
    # Sort the DataFrame by the 'Date' column
    df.sort_values(by='Date', inplace=True)
    
    # Calculate the moving average over a window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# Example DataFrame
data = {'Date': ['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04', '2023-08-05', '2023-08-06', '2023-08-07'],
        'Sales': [50, 60, 70, 80, 90, 100, 110]}

df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' column to datetime

# Call the function to calculate the moving average
df_with_moving_avg = calculate_moving_average(df)

print(df_with_moving_avg)

        Date  Sales  MovingAverage
0 2023-08-01     50           50.0
1 2023-08-02     60           55.0
2 2023-08-03     70           60.0
3 2023-08-04     80           65.0
4 2023-08-05     90           70.0
5 2023-08-06    100           75.0
6 2023-08-07    110           80.0

`Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column`

In [1]:
import pandas as pd

def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' column to datetime if not already
    df['Weekday'] = df['Date'].dt.strftime('%A')  # Extract and format weekday names
    
    return df

# Example usage
data = {'Date': ['2023-08-25', '2023-08-26', '2023-08-27']}
df = pd.DataFrame(data)
df = add_weekday_column(df)
print(df)

        Date   Weekday
0 2023-08-25    Friday
1 2023-08-26  Saturday
2 2023-08-27    Sunday

# `Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.`

In [4]:


def select_rows_between_dates(df, start_date, end_date):
    df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' column to datetime if not already
    
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_rows = df[mask]
    
    return selected_rows

# Example usage
data = {'Date': ['2023-01-15', '2023-01-20', '2023-02-05', '2023-01-10']}
df = pd.DataFrame(data)
start_date = '2023-01-01'
end_date = '2023-01-31'
selected_df = select_rows_between_dates(df, start_date, end_date)
print(selected_df)

        Date
0 2023-01-15
1 2023-01-20
3 2023-01-10

# `Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?`

# To use the basic functions of Pandas, you need to import the Pandas library itself. The primary library you need to import is pandas. This library provides the fundamental data structures and functions for data manipulation and analysis. You usually import it like this:

In [5]:
import pandas as pd

# `'pd'` is used to refer to the Pandas library throughout your code.